body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F5F5F5; 
}

#content {
  margin: 50px;
  padding: 20px;
  border-radius: 5px;
  background: #FBFBFB;
}

a {
  color: #00B7FF;
}

header {
  background-color: #8D969A;
  padding: 20px 50px;
  box-shadow: 2px -1px 7px #888888;
}

header #logo {
  font-size: 2em;
  font-weight: 900;
  text-shadow: 2px -1px #A6AACC, -2px -1px #968C8C;
}

header nav {
  display: inline-block;
  float: right;
}

header nav a {
  margin-left: 5px;
  text-decoration: none;
  padding: 10px;
  color: white;
  vertical-align: middle;
  border: 1px solid #968C8C;
  border-radius: 3px;
  background-color: #79A0FF;
  text-shadow: -1px 1px grey;
}

.post a {
  text-decoration: none;
}

.post {
  position: relative;
  display: inline-block;
  margin: 10px;
  list-style: none;
  width: 150px;
  height: 150px;
}

.post .thumbnail {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.post .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
  color: white;
  background: rgba(0,0,0,.6);
  padding: 5px;
  border-radius: 5px
}

.post .favorite {
  position: absolute;
  top: 3px;
  right: 3px;
  color: gold;
  border: lightgrey solid 1px;
  border-radius: 3px;
  background: rgba(0,0,0, .2);
  padding: 2px;
}

.post .post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

.post .post-overlay:hover {
  background-color: rgba(255,255,255,.2);
}

.pagination {
  margin-left: 5px;
  text-decoration: none;
  padding: 10px;
  color: white;
  vertical-align: middle;
  border-radius: 3px;
  background-color: #79A0FF;
  text-shadow: -1px 1px grey;
}